<div class="container form-forgot" >
  <div class="container">
    <h2 class="text-center title-form">Forgot password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :"Enter your email" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", required:"required" ,class:"form-control input-form" %>
      </div>
      <p>
      <div class="actions">
        <%= f.submit "Send instructions email", class:"btn icon button"  %>
      </div>
    <% end %>
</div>