<div class="modal fade" id=<%= target %> tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <% if type == "new" %>
          <h5>New Form</h5>
        <% else %>
          <h5>Edit Form</h5>
        <% end %>
      <%= form_with(model: account) do |form| %>
          <div class="form-group">
            <%= form.label :name, class:"col-form-label"%>
            <%= form.text_field :name, class:"form-control" %>
          </div>
      <% if type == "new" %>
      <% else %>
          <div class="form-group">
            <%= form.label :acctive  %>
            <%= form.check_box :status %>
          </div>

      <%end %>

          <div class="actions container">
            <button type="button" class="btn btn-outline-secondary " data-dismiss="modal">Cancel</button>
            <%= form.submit class:"btn btn-primary"  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
