<div class="row">
  <div class="col-sm-2 border-right left-table">
    <%= render "share/menu_lefttb" %>
  </div>
  <div class="col-sm-10 border-left abc">
    <div class="row line-header">
      <div class="col-sm-10">
        <p class="title-table">Account</p>
      </div>
      <div class="col-sm-2">

        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#newForm" data-whatever="@getbootstrap">New Account</button>
        <%= render "form", account: @account, target: "newForm", type: "new" %>
      </div>
    </div>

    <table class="table table-borderless">
      <tr>
        <th scope="col">Account name</th>
        <th scope="col">Status</th>
        <th scope="col">Balance</th>
        <th scope="col">Actions</th>

      </tr>
      <tbody>
        <% @accounts.each do |account| %>
          <% if account.id %>
            <tr class=<%= account.status ? "Acctive" : "Disable" %>>
              <td><%=account.name %></td>
              <td class="acctive-color"><%= account.status ? "Acctive" : "Disable" %></td>
              <td><%= balance_calc(account) %></td>
              <td>
                <div type="button"  class="text-success" data-toggle="modal" data-target="<%= "#editForm_#{account.id}" %>">Edit Account</div>
                <%= render "form", account: account, target: "editForm_#{account.id}", type: "edit" %>
              </td>

            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
